#avatares {
    float: right;
    margin: 2% 20% 2% 10%;
}
  
  #avatar-andres {
    border-radius: 50%;
    padding: 10px;
    background: linear-gradient(135deg, red, blue 50%, transparent 50%);
    background-size: 250%;
    background-position: 100% 100%;
    transition: background 0.8s;
}
#avatar-andres:hover{
    background-position: 0% 0%;
}
  
  #avatar-iyan {
      border-radius: 50%;
      padding: 10px;
      background:linear-gradient(135deg, #9d00ff, #ffc400 50%, transparent 50%);
      background-size: 250%;
      background-position: 100% 100%;
      transition: background 0.8s;
  }
  #avatar-iyan:hover{
      background-position: 0% 0%;
  }
  
  /**
  #avatares > img {
  
  }
  */
  