body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    width: 100%;  
    background-color: rgb(255, 255, 255);
  }

  .body-content{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  #herramientas{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 320px;
    padding-right: 180px;
    padding-top: 20px;
  }

  #css-logo{
    padding-right: 15px;
    padding-left: 15px;
  }

  #figma-logo{
    padding-right: 15px;
    padding-left: 15px;
  }

  #git-logo{
    padding-top: 20px;
    padding-bottom: 30px;
  }

  figure{
    padding: 20px;
  }