header {
    background: #e3e3e3;
  }

.flex-container {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;

} 

#nombres-header, #logo-header {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #4c5152;
  border: 3px outset rgba(0, 157, 255, 0.135);
  border-radius: 10px;
}

hr {
  display: block;
  border-style: inset;
  border-width: 1px;
}
  
#logo-header {
    height: 100px;
    width: 100px;
  }



h1 {
  text-align: center;
  font-size: 4em;
  font-weight: bold;
  color: #f4f4f4;
    text-shadow: 1px 1px 1px #919191,
                 1px 2px 1px #919191,
                 1px 3px 1px #919191,
                 1px 4px 1px #919191,
                 1px 5px 1px #919191,
                 1px 6px 1px #919191,
                 1px 7px 1px #919191,
                 1px 8px 1px #919191,
                 1px 9px 1px #919191,
                 1px 10px 1px #919191,
                 1px 20px 40px rgba(0, 0, 0, 0.3);
  }

  #nombres-header, #logo-header {
    margin-top: 10px;
    margin-bottom: 10px;
  }
